@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

    <section id="top">
        <div class="wrapper">
            <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">
        <article>

            <h1>Welcome to Play</h1>

            <p>
                Congratulations, you’ve just created a new Play application. This page will help you with the next few steps.
            </p>

            <blockquote>
                <p>
                    You’re using Play @version
                </p>
            </blockquote>

            <h2>Routes</h2>
            <pre><code>
    # Routes
    # This file defines all application routes (Higher priority routes first)
    # ~~~~

    # An example controller showing a sample home page
    GET     /                                   controllers.HomeController.index

    # All calls for articles
    GET     /api/articles                       controllers.ArticleController.getAllArticles
    POST    /api/articles                       controllers.ArticleController.insertArticle
    GET     /api/articles/recent                controllers.ArticleController.getRecentArticles
    GET     /api/articles/books                 controllers.BookController.getAllBooks
    GET     /api/articles/electronics           controllers.ElectronicController.getAllElectronics
    GET     /api/articles/officesupplies        controllers.OfficeSupplyController.getAllOfficeSupplies
    GET     /api/articles/other                 controllers.OtherArticleController.getAllOtherArticles

    GET     /api/articles/:id                   controllers.ArticleController.getOneArticle(id:Integer)
    PUT     /api/articles/:id                   controllers.ArticleController.updateOneArticle(id:Integer)

    # All calls for accounts
    GET     /api/accounts                       controllers.AccountController.getAllAccounts
    POST    /api/accounts                       controllers.AccountController.insertAccount
    GET     /api/accounts/admin                 controllers.AccountController.getAdminAccounts
    GET     /api/accounts/normal                controllers.AccountController.getNormalAccounts

    GET     /api/accounts/:id                   controllers.AccountController.getOneAccount(id:Integer)
    DELETE  /api/accounts/:id                   controllers.AccountController.deleteAccount(id:Integer)

    # All calls for purchases
    GET     /api/purchases                      controllers.PurchaseController.getAllPurchases
    POST    /api/purchases                      controllers.PurchaseController.insertPurchase

    GET     /api/purchases/:id                  controllers.PurchaseController.getOnePurchase(id:Integer)
    DELETE  /api/purchases/:id                  controllers.PurchaseController.deletePurchase(id:Integer)

    #All calls for user
    GET     /api/user/:id/articles              controllers.AccountController.getAllArticlesFromAccount(id:Integer)
    GET     /api/user/:id/purchases             controllers.AccountController.getAllBoughtArticlesFromAccount(id:Integer)
    PUT     /api/user/:id                       controllers.AccountController.updateOneAccount(id:Integer)
    POST    /api/user/login                     controllers.AccountController.login

    GET     /api/accounts                       controllers.AccountController.getAllAccounts
    POST    /api/accounts                       controllers.AccountController.insertAccount
    GET     /api/accounts/admin                 controllers.AccountController.getAdminAccounts
    GET     /api/accounts/normal                controllers.AccountController.getNormalAccounts

    GET     /api/accounts/:id                   controllers.AccountController.getOneAccount(id:Integer)
    DELETE  /api/accounts/:id                   controllers.AccountController.deleteAccount(id:Integer)

    # Search
    POST     /api/search                         controllers.ArticleController.getAllArticlesFromSearch

    # Map static resources from the /public folder to the /assets URL path
    # Needed for files in the public folder like js or stylesheets etc.
    GET     /assets/*file               controllers.Assets.versioned(path="/public", file: Asset)
</code></pre>

            <h2>Models</h2>
            <p>Here you can see the different models and there properties or methodes. They're defined in <code>app/models/</code></p>
            <h3>Article</h3>
            <pre><code>public class Article {

    private Integer id;
    private String name;
    private Integer price;
    private Integer condition;
    private String description;
    private Date creationDate;
    private String image;
    private String type;

    //Constructor, Getters and Setters

}</code></pre>

            <h3>Book</h3>
            <pre><code>public class Book extends Article{

    private String isbn;
    private String author;
    private String publisher;

    //Constructor, Getters and Setters

}</code></pre>

            <h3>Electronic</h3>
            <pre><code>public class Electronic extends Article{

    private String producer;
    private String model;

    //Constructor, Getters and Setters

}</code></pre>

            <h3>OfficeSupply</h3>
            <pre><code>public class OfficeSupply extends Article{

    //Constructor

}</code></pre>

            <h3>OtherArticle</h3>
            <pre><code>public class OtherArticle extends Article{

    //Constructor

}</code></pre>

            <h3>Account</h3>
            <pre><code>public class Account {

    private Integer id;
    private Integer studentId;
    private String firstname;
    private String lastname;
    private Address address;
    private String email;
    private String telephone;
    private String password;
    private boolean isAdmin;

    //Constructor, Getters and Setters

}</code></pre>

            <h3>Address</h3>
            <pre><code>public class Address {

    private Integer id;
    private String street;
    private String streetNr;
    private Integer zip;
    private String city;

    //Constructor, Getters and Setters

}</code></pre>

            <h3>Purchase</h3>
            <pre><code>public class Purchase {

    private Integer id;
    private Article article;
    private Account buyer;
    private Boolean isCompleted;
    private Date purchaseDate;

    //Constructor, Getters and Setters

}</code></pre>

            <h3>DefaultSuccessMessage</h3>
            <pre><code>public class DefaultSuccessMessage {

    private Integer id;
    private String message;

    //Constructor, Getters and Setters

}</code></pre>

            <h3>DefaultErrorMessage</h3>
            <pre><code>public class DefaultErrorMessage {

    private Integer id;
    private String message;

    //Constructor, Getters and Setters

}</code></pre>

            <h2>Error Codes</h2>
            <table>
                <tr><td>1</td><td>Something went wrong</td></tr>
                <tr><td>11</td><td>Expecting Json Data</td></tr>
                <tr><td>12</td><td>Missing Parameter</td></tr>
                <tr><td>13</td><td>No matching type object</td></tr>
                <tr><td>14</td><td>No ID found</td></tr>
            </table>



            <h2>Need more info on the console?</h2>

            <p>
                For more information on the various commands you can run on Play, i.e. running tests and packaging applications for production, see <a href="https://playframework.com/documentation/@version/PlayConsole">Using the Play console</a>.
            </p>

            <h2>Need to set up an IDE?</h2>

            <p>
                You can start hacking your application right now using any text editor. Any changes will be automatically reloaded at each page refresh,
                including modifications made to Scala source files.
            </p>

            <p>
                If you want to set-up your application in <strong>IntelliJ IDEA</strong> or any other Java IDE, check the
                <a href="https://www.playframework.com/documentation/@version/IDE">Setting up your preferred IDE</a> page.
            </p>

            <h2>Need more documentation?</h2>

            <p>
                Play documentation is available at <a href="https://www.playframework.com/documentation/@version">https://www.playframework.com/documentation</a>.
            </p>

            <p>
                Play comes with lots of example templates showcasing various bits of Play functionality at <a href="https://www.playframework.com/download#examples">https://www.playframework.com/download#examples</a>.
            </p>

            <h2>Need more help?</h2>

            <p>
                Play questions are asked and answered on Stackoverflow using the "playframework" tag: <a href="https://stackoverflow.com/questions/tagged/playframework">https://stackoverflow.com/questions/tagged/playframework</a>
            </p>

            <p>
                The <a href="http://groups.google.com/group/play-framework">Play Google Group</a> is where Play users come to seek help,
                announce projects, and discuss issues and new features. If you don’t have a Google account, you can still join the mailing
                list by sending an e-mail to
                <strong>play-framework+subscribe@@googlegroups.com</strong>.
            </p>

            <p>
                Gitter is a real time chat channel, like IRC. The <a href="https://gitter.im/playframework/playframework">playframework/playframework</a>  channel is used by Play users to discuss the ins and outs of writing great Play applications.
            </p>

        </article>

        <aside>
            <h3>Browse</h3>
            <ul>
                <li><a href="https://playframework.com/documentation/@version">Documentation</a></li>
                <li><a href="https://playframework.com/documentation/@version/api/@style/index.html">Browse the @{style.capitalize} API</a></li>
            </ul>
            <h3>Start here</h3>
            <ul>
                <li><a href="https://playframework.com/documentation/@version/PlayConsole">Using the Play console</a></li>
                <li><a href="https://playframework.com/documentation/@version/IDE">Setting up your preferred IDE</a></li>
                <li><a href="https://playframework.com/download#examples">Example Projects</a>
            </ul>
            <h3>Help here</h3>
            <ul>
                <li><a href="https://stackoverflow.com/questions/tagged/playframework">Stack Overflow</a></li>
                <li><a href="http://groups.google.com/group/play-framework">Mailing List</a></li>
                <li><a href="https://gitter.im/playframework/playframework">Gitter Channel</a></li>
            </ul>

        </aside>

    </div>
}